@charset "utf-8";

/* RixinScoreQuery
 * @author            Phantrax
 * @version           1.0.0
 * @last-time         2015.8.14
 *
 */


/* 文件载入
 ---------------------------------------------------------- */
@import  "./style/data";                    /* 变量文件 */
@import  "./style/font";					/* Web 字体 */
@import  "./style/mixin";                   /* 混入文件 */
@import  "./style/animation";				/* CSS3 动画 */
@import  "./reset";                  		/* CSS Reset */
@import  "./csshake";                 		/* css hake */


/* 页面
 ---------------------------------------------------------- */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, Microsoft Yahei, sans-serif;
}

html {
  font-size: 625%;
}

body {
  font-size: .14rem;
}

.review-card {
	width: 100%;
	transition: box-shadow .25s;
    padding: 20px;
    /* margin: 0.5rem 0 1rem 0; */
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.review-title {
	position: relative;
	width: 100%;
	height: auto;
	padding-left: 3.6rem;
	margin: 0;
}

.user-avatar {
	position: absolute;
	top: 0;
	left: 0;
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	background: #ccc url();
}

.user-name, .publish-time {
	display: block;
	height: 1.8rem;
	margin-left: 20px;
	line-height: 1.8rem;
}

.publish-time {
	color: #ccc;
	font-size: 12px;
}

.user-review {
	margin-top: 20px;
	line-height: 1.2rem;
}

.review-tips {
	height: 3.2rem;
	line-height: 3.2rem;
	text-align: center;
	color: #ccc;
}



