@charset "utf-8";

/* Font
 --------------------------------------------------*/


@font-face {
	font-family: '方正稚艺';
	src: url('../fonts/方正稚艺.eot');
	src: url('../fonts/方正稚艺.eot?#iefix') format('embedded-opentype'),
	url('../fonts/方正稚艺.woff') format('woff'),
	url('../fonts/方正稚艺.otf') format('otf'),
	url('../fonts/方正稚艺.ttf') format('truetype'),
	url('../fonts/方正稚艺.svg#Blade') format('svg');
	font-weight: normal;
	font-style: normal;
}
