@charset "utf-8";

/* RixinScoreQuery
 * @author            Phantr4x
 * @version           1.0.0
 * @last-time         2015.8.14
 *
 */


/* 文件载入
 ---------------------------------------------------------- */
@import  "./style/data";                    /* 变量文件 */
@import  "./style/font";					/* Web 字体 */
@import  "./style/mixin";                   /* 混入文件 */
@import  "./style/animation";				/* CSS3 动画 */
@import  "./reset";                  		/* CSS Reset */
@import  "./csshake";                 		/* css hake */


/* 页面
 ---------------------------------------------------------- */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, Microsoft Yahei, sans-serif;
}

html {
  font-size: 625%;
}

body {
  font-size: 1.2rem;
}

.empty {
	text-align: center;
	padding: 12px;
}


// .container {
//   width: 95%;
//   min-width: 3.2rem;
//   // height: 100%;
//   margin: .32rem auto;
//   border: .01rem dashed $theme-color;
// }

// .score {
//   width: 100%;
//   height: 100%
// }

// .info-left, .info-right {
//   width: 50%;
// }

// .table-head, .table-cell {
//   float: left;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   text-align: center;
//   font: .20rem/.36rem lighter Microsoft Yahei, Arial, sans-serif;
// }

// .table-head {
//   color: $theme-color;
// }
// .table-cell {

// }

// .top-border {
//   border-top: .01rem dashed $theme-color;
// }

// .right-border {
//   border-right: .01rem dashed $theme-color;
// }

// .bottom-border {
//   border-bottom: .01rem dashed $theme-color;
// }

// .left-border {
//   border-left: .01rem dashed $theme-color;
// }



// .term-select-head {
//   width: 25%;
// }

// .term-select-cell {
//   width: 75%;
// }

// .select-correct {
//   height: .37rem;
// }

// .name-input, .student-id-input {
//   display: inline-block;
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   padding-left: .12rem;
//   border: 0;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   font: .20rem/.36rem normal Microsoft Yahei Light, Arial, sans-serif;
// }


// SelectBoxExtended
// select {
//   display: none;
// }
// .select_box {
//   position: relative;
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   border: none;
//   font: .20rem/.36rem normal Microsoft Yahei Light, Arial, sans-serif;
//   color: #000;
//   width: 100%;
//   z-index: 999;
// }
// .select_showbox {
//   position: relative;
//   border-bottom: 1px solid transparent;
//   height: .36rem;
//   padding-left: .05rem;
//   z-index: 999;
//   &:after {
//     content: "";
//     position: absolute;
//     top: .135rem;
//     right: .09rem;
//     display: inline-block;
//     width: 0;
//     height: 0;
//     border-top: .09rem solid $theme-color;
//     border-left: .09rem solid transparent;
//     border-bottom: none;
//     border-right: .09rem solid transparent;
//   }
// }
// .select_option {
//   position: absolute;
//   left: -.01rem;
//   border: .01rem solid $theme-color;
//   border-top: none;
//   width: 100%;
//   display: none;
//   z-index: 999;
//   overflow: hidden;
//   background: #fff;
//   box-shadow: 1px 1px 2px rgba(0,0,0,.3);
// }
// .select_option li{
//   width: 100%;
//   z-index: 999;
//   padding-left: .05rem;
// }
// .select_option li.selected{
//   background-color: #F3F3F3;
//   color: #999;
// }
// .select_option li.hover{
//   background: $theme-color; color: #fff;
// }

// .show {
//   width: 100%;
//   padding-top: 1.47rem;
// }

// .show-left {
//   width: 80%;
// }

// .show-right {
//   width: 20%;
// }

// .course, .course-score {
//   border-bottom: .01rem dashed $theme-color;
//   background: #cff;
// }

// .course {
//   border-right: .01rem dashed $theme-color;
// }

// .empty {
//   text-align: center;
//   color: $theme-color;
//   font: .20rem/.36rem normal Microsoft Yahei, Microsoft Yahei Light, Arial, sans-serif;
// }

// #get-score {
//   position: relative;
//   display: inline-block;
//   width: 2.30rem;
//   height: .36rem;
//   border: .01rem dashed $theme-color;
//   background: #fff;
//   border-radius: .36rem;
//   margin: .12rem 0;
//   padding: 0;
//   font: .20rem/.34rem normal Microsoft Yahei Light, Arial, sans-serif;
//   color: $theme-color;

//   &:hover, &:visited {
//     color: #fff;
//     background: $theme-color;
//   }
// }
