@charset "utf-8";

/* RixinScoreQuery
 * @author            Phantrax
 * @version           1.0.0
 * @last-time         2015.9.9
 */


/* 文件载入
 ---------------------------------------------------------- */
@import  "./style/data";                    /* 变量文件 */
@import  "./style/font";					          /* Web 字体 */
@import  "./style/mixin";                   /* 混入文件 */
@import  "./style/animation";				        /* CSS3 动画 */
@import  "./reset";                  		    /* CSS Reset */
@import  "./csshake";                 		  /* css hake */


/* 页面
 ---------------------------------------------------------- */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 625%;
}

body {
  font-size: .14rem;
  background: $theme-color;
}



